.App {
  text-align: center;
  background-color: #000000;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#logo{
  height:48px;
}
#avatar{
  height:36px;
}
#navbar-text{
  color: #BFBFBF;
}
.btn{
  border-radius:0;
  border: none;
  background-color: #000000;
}
.navbar-right-logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
#genres-details{
  gap: 50px;
}
.genrebutton{
  background-color: #000000;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid white;
}
.genrebutton:hover{
  background-color: white;
  color: black;

}
#image-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}
#img{
  height: 140px;
  object-fit: cover;
}
#img:hover{
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 3px 3px 8px;
}
h5{
  display: flex;
  color: white;
}
h3{
  display: flex;
  color: white;
}
.movie-card{
  border: none;
}
.icon{
  font-size: 20px;
  color: white;
}
.icon:hover{
  background-color: gray;
  color: white;
}
#nav-icon{
  border: 0.3px solid gray;
margin: 0;
}
#nav-icons{
font-size: 30px;
display: flex;
gap: 10px;
justify-content: center;
margin-top: 10px;
}